@font-face {
    font-family: "Nunito";
    src: url(font/Nunito/Nunito-VariableFont_wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #edede0;
    padding-top: 15vh;
    font-size: 20px;
}

.Banner {
    background-color: #03484c;
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 20px;
    transition: height 0.3s ease;
}

.Banner.shrink {
    height: 8vh;
}

.Banner.shrink h1 {
    font-size: 3.2vw;
}

.Banner.shrink .logo {
    height: 40px;
}

.Banner.shrink .cbtis {
    height: 80px;
}

.logo {
    height: 80px;
    transition: opacity 0.5s ease, transform 0.5s ease, height 0.3s ease;
}

.cbtis {
    height: 125px;
    transition: height 0.3s ease;
}

.logo.hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

h1 {
    font-size: 6vw;
    color: #00755c;
    text-shadow: 2px 4px #00c16c;
    transition: font-size 0.3s ease;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.section {
    flex: 1 1 250px;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #d6e6c3;
    transition: background-color 0.3s, transform 1s;
    font-size: 1.2rem;
}

.section:hover {
    background-color: #a5c0a9;
    transform: translateY(-5px);
}

.text {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
}

.camp {
    margin-bottom: 20px;
    text-align: center;
}

.steps {
    margin-top: 10px;
    margin-bottom: 10px;
}

.examples{
    margin: auto;
    height: 50vh;
    width: 50vw;
    background-color:#e9ffe1 ;
    border: transparent 5px solid;
    border-radius: 150px;
}

.examplesimg{
    padding: 25px ;
    width: 100%;
    height: 100%;
    border-radius: 150px;

}


@media (max-width: 768px) {
    .sections-container {
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 90%;
    }

    h1 {
        font-size: 8vw;
    }

    .logo {
        height: 60px;
    }

    .cbtis {
        height: 100px;
    }

    .Banner.shrink .cbtis {
        height: 65px;
    }
}
